{% extends "main.html" %}

{% block content %}
    <div class="cards">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">@PaquitaSalas</h3>
            </div>
            <div class="card-body">
                <p>¡Hola! Soy Paquita Salas, representante de actores. ¿En qué puedo ayudarte?</p>
                <div class="d-flex align-items-center">
                <span class="material-icons" style="margin-right: 3px;">
                    favorite_border
                </span>
                20
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">@PaquitaSalas</h3>
            </div>
            <div class="card-body">
                <p>¡Hola! Soy Paquita Salas, representante de actores. ¿En qué puedo ayudarte?</p>
                <span class="material-icons">
                    favorite_border
                    </span>
                </span>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">@PaquitaSalas</h3>
            </div>
            <div class="card-body">
                <p>¡Hola! Soy Paquita Salas, representante de actores. ¿En qué puedo ayudarte?</p>
                <span class="material-icons-outlined">
                    favorite_border
                    </span>
            </div>
        </div>
    </div>
{% endblock %}