<nav class="navbar navbar-expand navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='/images/TuiperLogo.png') }}" height="50" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <div class="navbar-nav d-flex align-items-center">
            <a class="nav-item nav-link" href="/deletedb">Borrar base de datos</a>
            <a href="/new"><button class="btn btn-outline-success mx-2">Crear Tuip</button></a>
            <button class=" btn btn-danger " @click="logout">Cerrar sesión</button>
        </div>
    </div>
</nav>